.body_welcome {
  height: 100.4vh;
  margin-top: -77px;
  background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.185)),
    url(../../public/bodytlowarzywalarge333.jpg), transparent;
}

.body_title {
  width: 29%;
  display: inline-block;
  margin: 0;
  position: relative;
  left: 42%;
  top: 40%;
  color: #f8f8f8;
  font-weight: 700;
  font-size: 44px;
  background-color: #004d3e4b;
  border-radius: 10px;
  padding: 15px;
}

.body_welcome p {
  width: 40%;
  position: relative;
  left: 42%;
  top: 45%;
  font-size: 26px;
  font-weight: 600;
  color: #f8f8f8;
}
.btn_container {
  position: relative;
  top: 50%;
}
.body_welcome_btn {
  background: transparent;
  position: relative;
  left: 62%;
  top: 49%;
  font-size: 28px;
  color: #f8f8f8;
  border: none;
  border-bottom: 3px solid #1c7462fb;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.body_welcome_btn:hover,
.body_welcome_btn:active {
  background-color: #004d3e4b;
  color: #f8f8f8;
  border-radius: 15px;
  padding: 10px;
}

@media (max-width: 480px) {
  .body_title {
    width: 70%;
    display: block;
    text-align: center;
    left: 15%;
    top: 18%;
    font-size: 28px;
    padding: 20px;
  }

  .body_welcome p {
    width: 65%;
    left: 20%;
    top: 22.5%;
    font-size: 20px;
    font-weight: 500;
  }
  .btn_container {
    top: 30%;
  }
  .body_welcome_btn {
    left: 33%;
    font-size: 18px;
    transition: none;
  }

  .body_welcome_btn:hover,
  .body_welcome_btn:active {
    background-color: transparent;
    border-bottom: 3px solid #1c7462fb;
    color: #f8f8f8;
    border-radius: 0px;
    padding: 10px;
  }
}
