.background {
  height: 100.4vh;
  margin-top: -77px;
  background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.185)),
    url(../../public/bodytlowarzywalarge333.jpg), transparent;
}

.temporary {
  padding-top: 130px;
}
.temporary button {
  background-color: #004d3e48;
  border-radius: 15px;
  border: 3px solid #01c09a;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  color: #ebf5fb;
  padding: 8px 25px;
  transition: all 0.5s;
  /* transition-timing-function: cubic-bezier(0.5, 3, 0, 1); */
}

.grid_container {
  display: grid;
  height: 75vh;
  justify-content: center;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 28% 28% 28%;
  gap: 50px;
  text-align: center;
  overflow-y: auto;
}
.grid_element {
  /* background-color: green;
  display: flex;
  cursor: pointer; */
  background-color: #004d3e48;
  border-radius: 15px;
  border: 3px solid #01c09a;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  color: #050f16d8;
  /* padding: 8px 25px; */
  padding: 8px 16px;
  display: flex;
  transition: all 0.3s;
  box-shadow: 0 10px 15px 0 rgb(0, 0, 0, 0.15);
}

.grid_element:hover,
.grid_element:active {
  /* transform: scale(1.01, 1.01); */
  /* border: 3px solid #388676e1; */
  border: 3px solid #fbfffedc;
  padding: 0;
  background-color: #fbfffedc;
}

.temporary button:hover,
.temporary button:active {
  border: 3px solid #fbfffedc;
  padding: 0;
  font-size: 150%;
}

.grid_element h2 {
  max-width: 50%;
  margin: auto;
  font-weight: 700;
  font-size: 36px;
}

.fill {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.fill img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.short_desc {
  background-color: #fbfffedc;
  width: 50%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.short_desc h1 {
  text-align: center;
  font-size: 24px;
  background-color: #004d3e8f;
  overflow-wrap: break-word;
  color: #f8f8f8;
}

.short_desc li {
  list-style: none;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
