.background {
  height: 100.4vh;
  margin-top: -77px;
  background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.185)),
    url(../../public/bodytlowarzywalarge333.jpg), transparent;
}

.temporary {
  padding-top: 130px;
}
.temporary button {
  border-style: none;
  margin: auto;
  height: 40px;
  width: 150px;
  background-color: red;
  cursor: pointer;
}

.grid_container {
  display: grid;
  height: 75vh;
  justify-content: center;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: 28% 28% 28%;
  gap: 50px;
  text-align: center;
  overflow-y: auto;
}
.grid_element {
  background-color: green;
  display: flex;
  cursor: pointer;
}

.grid_element h2 {
  max-width: 50%;
  background-color: red;
  margin: auto;
  font-weight: 700;
  font-size: 36px;
}

.fill {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.short_desc {
  background-color: green;
  width: 50%;
}

.short_desc h1 {
  text-align: center;
  font-size: 24px;
  background-color: red;
  overflow-wrap: break-word;
}

.short_desc li {
  list-style: none;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
